body {
	background-color: #B7D3BD;
}

#dados {
	margin: 2% 40%;
}

#estado {
	margin: 5% 35%;
}

#tablero {
	position: absolute;
	top: 0;
	left: 2%;
}

td, th, .special {
	width: 145px;
	height: 145px;
}

h2, p {
	text-align: center;
}

.player {
	width: 50px;
	height: 75px;
}

.posicion {
	position: relative;
	float: right;
}